// Colors

    // Primary

        $brightBlue: hsl(220, 98%, 61%);
        //Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

    // Neutral

        // Light Theme

        $veryLightGray: hsl(0, 0%, 98%);
        $veryLightGrayishBlue: hsl(236, 33%, 92%);
        $lightGrayishBlue1: hsl(233, 11%, 84%);
        $darkGrayishBlue1: hsl(236, 9%, 61%);
        $veryDarkGrayishBlue1: hsl(235, 19%, 35%);

        // Dark Theme

        $veryDarkBlue: hsl(235, 21%, 11%); //footer background
        $veryDarkDesaturatedBlue: hsl(235, 24%, 19%); //main background
        $lightGrayishBlue2: hsl(234, 39%, 85%);
        $lightGrayishBlue3 : hsl(236, 33%, 92%); //(hover)
        $darkGrayishBlue2: hsl(234, 11%, 52%);
        $veryDarkGrayishBlue2: hsl(233, 14%, 35%);
        $veryDarkGrayishBlue3: hsl(237, 14%, 26%);